%common_spacing {
    margin-bottom: 40px;
    @include medium-desktop {
        margin-bottom: 30px;
    }
    @include small-desktop {
        margin-bottom: 25px;
    }
    @include tablet {
        margin-bottom: 20px;
    }
}

%common_bg {
    background-color: $primary-color;
}

%common_white_text {
    color: $white;
}

%secondary_common_section {
    padding: 140px 0;
    @include medium-desktop {
        padding: 120px 0;
    }
    @include small-desktop {
        padding: 100px 0;
    }
    @include tablet {
        padding: 70px 0;
        text-align: center;
    }
}
%secondary_common_title {
    font-size: 50px;
    font-weight: 600;
    color: $text-black;
    @extend %common_spacing;
    @include medium-desktop {
        font-size: 45px;
    }
    @include small-desktop {
        font-size: 40px;
    }
    @include tablet {
        font-size: 35px;
    }
    @include mobile {
        font-size: 30px;
    }
}

%secondary_common_paragraph {
    font-size: 30px;
    @extend %common_spacing;
    @include medium-desktop {
        font-size: 25px;
    }
    @include small-desktop {
        font-size: 22px;
    }
    @include tablet {
        font-size: 18px;
    }
    @include mobile {
        font-size: 16px;
    }
}
%secondary_common_video {
    position: relative;
    @include tablet {
        margin-bottom: 40px;
    }
}
%video_inner {
    width: 506px;
    height: 480px;
    position: relative;
    overflow: hidden;
    @include medium-desktop {
        width: 100%;
        height: auto;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $primary-color, $alpha: 0.57);
        z-index: 1;
    }
}
%video_play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
%shape {
    position: absolute;
    bottom: -40px;
    left: -40px;
    background-color: $primary-color;
    width: 252px;
    height: 206px;
    z-index: -1;
    @include medium-desktop {
        bottom: -30px;
        left: -30px;
    }
    @include mobile {
        display: none;
    }
}
%common_primary_section {
    padding: 100px 0;
    text-align: center;
    @extend %common_bg;
    @include small-desktop {
        padding: 80px 0;
    }
    @include tablet {
        padding: 70px 0;
    }
    @include mobile {
        padding: 50px 0;
    }
}
%common_primary_title {
    font-size: 75px;
    @extend %common_spacing;
    @extend %common_white_text;
    @include medium-desktop {
        font-size: 66px;
    }
    @include small-desktop {
        font-size: 55px;
    }
    @include mobile {
        font-size: 45px;
    }
}

%common_primary_paragraph {
    font-size: 33px;
    padding-bottom: 90px;
    @extend %common_white_text;
    @include medium-desktop {
        font-size: 28px;
        padding-bottom: 80px;
    }
    @include small-desktop {
        font-size: 25px;
        padding-bottom: 50px;
    }
    @include tablet {
        padding-bottom: 40px;
    }
    @include mobile {
        font-size: 20px;
        padding-bottom: 30px;
    }
}

%social_style {
    li {
        display: inline-block;
        padding: 0 7px;
        a {
            display: block;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: $primary-color;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                font-size: 20px;
                line-height: 0;
                color: $white;
            }
        }
    }
}
