.hero {
    height: 780px;
    @extend %common_bg;
    @include medium-desktop {
        height: 750px;
    }
    @include small-desktop {
        height: 700px;
    }
    @include tablet {
        padding: 80px 0;
        height: auto;
    }
    @include mobile {
        padding: 50px 0;
    }
    &__title {
        font-size: 66px;
        font-weight: 600;
        @extend %common_spacing;
        @extend %common_white_text;
        @include medium-desktop {
            font-size: 50px;
        }
        @include small-desktop {
            font-size: 45px;
        }
        @include mobile {
            font-size: 35px;
        }
    }
    &__paragraph {
        font-size: 30px;
        @extend %common_spacing;
        @extend %common_white_text;
        @include medium-desktop {
            font-size: 25px;
        }
        @include small-desktop {
            font-size: 22px;
        }
        @include mobile {
            font-size: 18px;
        }
    }

    &__img {
        max-width: 420px;
        width: 100%;
        margin: 0 auto;
        @include medium-desktop {
            max-width: 380px;
        }
        @include small-desktop {
            max-width: 350px;
        }
        @include tablet {
            display: none;
        }
        img {
            width: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}

// About SCSS
.about {
    @extend %secondary_common_section;
    .row {
        @include tablet {
            flex-direction: column-reverse;
        }
    }
    &__title {
        @extend %secondary_common_title;
    }
    &__paragraph {
        @extend %secondary_common_paragraph;
    }
    &__video {
        @extend %secondary_common_video;
        &--inner {
            @extend %video_inner;
        }
        &--play {
            @extend %video_play;
        }
        &--shape {
            @extend %shape;
        }
    }
}

// About ends

// Medication Starts
.medication {
    @extend %common_primary_section;
    &__title {
        @extend %common_primary_title;
    }
    &__paragraph {
        @extend %common_primary_paragraph;
    }
    &__card {
        &--img {
            padding: 0 10px;
            height: 355px;
            overflow: hidden;
            @extend %common_spacing;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        &--title {
            font-size: 37px;
            font-weight: 600;
            margin-bottom: 15px;
            @extend %common_white_text;

            @include medium-desktop {
                font-size: 30px;
            }
            @include small-desktop {
                font-size: 28px;
                margin-bottom: 10px;
            }
            @include tablet {
                font-size: 25px;
            }
            @include mobile {
                font-size: 22px;
            }
        }
        &--paragraph {
            font-size: 25px;
            @extend %common_white_text;
            @include medium-desktop {
                font-size: 22px;
            }
            @include small-desktop {
                font-size: 18px;
            }
            @include tablet {
                font-size: 16px;
            }
            @include mobile {
                font-size: 14px;
            }
        }
    }
}
// Medication Ends

// Passion Starts
.passion {
    @extend %secondary_common_section;
    text-align: right;
    @include tablet {
        text-align: center;
    }
    &__title {
        @extend %secondary_common_title;
    }
    &__paragraph {
        @extend %secondary_common_paragraph;
    }
    &__video {
        @extend %secondary_common_video;
        &--inner {
            @extend %video_inner;
        }
        &--play {
            @extend %video_play;
            transform: translate(-50%, -50%) rotate(180deg);
        }
        &--shape {
            @extend %shape;
            right: 90px;
            left: inherit;
            @media screen and (max-width: 1399px) {
                right: 0;
            }
            @include medium-desktop {
                right: -30px;
            }
        }
    }
}

// Pricing Starts
.pricing {
    @extend %common_primary_section;
    &__title {
        @extend %common_primary_title;
    }
    &__paragraph {
        @extend %common_primary_paragraph;
    }
    &__card {
        padding: 0 10px;
        &--img {
            height: 355px;
            margin-bottom: 30px;
            @include medium-desktop {
                margin-bottom: 25px;
                height: 330px;
            }
            @include tablet {
                margin-bottom: 20px;
                height: auto;
            }
            @include mobile {
                margin-bottom: 15px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &--pricing {
            display: flex;
            align-items: center;
            font-size: 41px;
            font-weight: 600;
            justify-content: space-around;
            margin-bottom: 30px;
            @include medium-desktop {
                font-size: 35px;
                margin-bottom: 20px;
            }
            @include small-desktop {
                font-size: 30px;
            }
            @include tablet {
                font-size: 30px;
            }
            @include mobile {
                font-size: 25px;
            }
            p {
                margin-bottom: 0;
            }
        }
        &--discount {
            @extend %common_white_text;
            text-decoration: line-through;
        }
        &--price {
            @extend %common_white_text;
        }
        &--btn {
            button {
                border-radius: 50px;
                font-size: 25px;
                padding: 18px 44px;
                @include medium-desktop {
                    font-size: 22px;
                }
                @include small-desktop {
                    font-size: 20px;
                    padding: 15px 40px;
                }
                @include tablet {
                    font-size: 18px;
                }
                @include mobile {
                    font-size: 16px;
                }
            }
        }
    }
}

// Team
.team {
    @extend %secondary_common_section;
    text-align: center;
    &__title {
        @extend %common_primary_title;
        color: $text-black;
    }
    &__paragraph {
        @extend %common_primary_paragraph;
        color: $text-black;
    }
    &__card {
        &--img {
            height: 355px;
            margin-bottom: 30px;
            @include medium-desktop {
                margin-bottom: 25px;
                height: 330px;
            }
            @include tablet {
                margin-bottom: 20px;
                height: auto;
            }
            @include mobile {
                margin-bottom: 15px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        h3 {
            font-size: 29px;
            font-weight: 700;
            margin-bottom: 0;
            @include medium-desktop {
                font-size: 25px;
            }
            @include small-desktop {
                font-size: 22px;
            }
            @include tablet {
                font-size: 20px;
            }
        }
        p {
            font-size: 25px;
            margin-bottom: 20px;
            text-transform: uppercase;
            @include medium-desktop {
                font-size: 22px;
            }
            @include small-desktop {
                font-size: 20px;
                margin-bottom: 10px;
            }
            @include tablet {
                font-size: 16px;
            }
        }
        ul {
            @extend %social_style;
        }
    }
}

// parallax
.parallax {
    position: relative;
    background-image: url("./assets/img/parallax.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 165px 0;
    z-index: 1;
    @include medium-desktop {
        padding: 120px 0;
    }
    @include small-desktop {
        padding: 100px 0;
    }
    @include tablet {
        padding: 80px 0;
    }

    &::before {
        position: absolute;
        content: "";
        background-color: rgba($color: $primary-color, $alpha: 0.57);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    &__icon {
        height: 90px;
        margin-bottom: 60px;
        @include small-desktop {
            height: 70px;
            margin-bottom: 40px;
        }
        @include mobile {
            height: 60px;
            margin-bottom: 30px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__counter {
        font-size: 41px;
        margin-bottom: 0;
        @extend %common_white_text;
        @include medium-desktop {
            font-size: 38px;
        }
        @include small-desktop {
            font-size: 35px;
        }
        @include tablet {
            font-size: 30px;
        }
        @include mobile {
            font-size: 25px;
        }
    }
    &__title {
        font-weight: 700;
        margin-bottom: 40px;
        font-size: 37px;
        white-space: no-wrap;
        @extend %common_white_text;
        @include medium-desktop {
            font-size: 35px;
        }
        @include small-desktop {
            font-size: 30px;
        }
        @include tablet {
            font-size: 25px;
        }
        @include mobile {
            font-size: 20px;
        }
    }
}

// Blog
.blog {
    @extend %secondary_common_section;
    text-align: center;
    &__title {
        @extend %common_primary_title;
        color: $text-black;
    }
    &__paragraph {
        @extend %common_primary_paragraph;
        color: $text-black;
    }
    &__card {
        text-align: left;
        transition: 0.3s all ease-in-out;
        &--img {
            height: 350px;
            @include small-desktop {
                height: 320px;
            }
            @include tablet {
                height: auto;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &--body {
            padding: 30px;
            border: 2px solid #f3f3f3;
            border-top-color: transparent;
            @include tablet {
                padding: 20px;
            }
            @include mobile {
                padding: 10px 15px;
            }
        }
        &--title {
            font-size: 25px;
            color: $text-black;
            @include tablet {
                font-size: 20px;
            }
            @include mobile {
                font-size: 18px;
            }
        }
        &--date {
            text-transform: uppercase;
            font-size: 16px;
            margin-bottom: 20px;
            color: $secondary-color;
            @include tablet {
                font-size: 13px;
                margin-bottom: 15px;
            }
        }
        &--post {
            font-size: 16px;
            margin-bottom: 20px;
            @include tablet {
                font-size: 14px;
                margin-bottom: 15px;
            }
        }
        a {
            display: inline-block;
            color: $secondary-color;
        }
        &:hover {
            box-shadow: 12px 12px 51px 12px rgba(74, 74, 74, 0.1);
            .blog__card--body {
                border: 2px solid transparent;
            }
        }
    }
}
